service: media-vault-serverless
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  region: sa-east-1
  environment: ${file(./serverless/resources.yml):environment}
  iamRoleStatements: ${file(./serverless/iam.yml):iamRoleStatements}

plugins:
  - serverless-offline

functions: ${file(./serverless/functions.yml):functions}

resources:
  Resources: ${file(./serverless/resources.yml):Resources}
  Outputs: ${file(./serverless/outputs.yml):Outputs}
