service: media-vault-serverless
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  region: sa-east-1
  environment: ${file(./serverless/resources.yml):environment}
  iam:
    role:
      statements: ${file(./serverless/iam.yml):iamRoleStatements}

plugins:
  - serverless-esbuild
  - serverless-offline

custom:
  esbuild:
    bundle: true
    minify: ${self:custom.minify.${sls:stage}, true}
    sourcemap: ${self:custom.sourcemap.${sls:stage}, false}
    target: node20
    platform: node
    exclude:
      - "@aws-sdk/*"
    define:
      "require.resolve": undefined
  sourcemap:
    dev: true
    prod: false
  minify:
    dev: false
    prod: true

functions: ${file(./serverless/functions.yml):functions}

resources:
  Resources: ${file(./serverless/resources.yml):Resources}
  Outputs: ${file(./serverless/outputs.yml):Outputs}
