service: media-vault-serverless
frameworkVersion: "3"

useDotenv: true

provider:
  name: aws
  runtime: nodejs20.x
  region: sa-east-1
  environment: ${file(./serverless/resources.yml):environment}
  iam:
    role:
      statements: ${file(./serverless/iam.yml):iamRoleStatements}
  httpApi:
    authorizers:
      tokenAuthorizer:
        type: request
        functionName: authorizerFunc
        enableSimpleResponses: true
        identitySource: $request.header.Authorization

plugins: ${file(./serverless/plugins.yml):plugins}

custom:
  dotenv:
    path: .env
  esbuild: ${file(./serverless/esbuild.yml):esbuild}
  sourcemap: ${file(./serverless/esbuild.yml):sourcemap}
  minify: ${file(./serverless/esbuild.yml):minify}

layers: ${file(./serverless/layers.yml):layers}

functions: ${file(./serverless/functions.yml):functions}

resources:
  Resources: ${file(./serverless/resources.yml):Resources}
  Outputs: ${file(./serverless/outputs.yml):Outputs}
